<nav class="navbar navbar-toggleable-md navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [class.active]= "aba == 'home'"
        (click)="aba = 'home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [class.active]= "aba == 'feature'"
        (click)="aba = 'feature'">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [class.active]= "aba == 'price'"
        (click)="aba = 'price'">Pricing</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'home'">Modo Home</p>
  <p *ngSwitchCase="'feature'">Modo Funcionalidades</p>
  <p *ngSwitchCase="'price'">Modo Preço</p>
</div>