<app-diretiva-ngif></app-diretiva-ngif>

<!--<app-diretiva-ngswich></app-diretiva-ngswich>-->
<br>
<app-diretiva-ngclass></app-diretiva-ngclass>
<br>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<br>
<app-operador-elvis></app-operador-elvis>
<br>
<!--<app-ng-content>
    Conteúdo de content
    <app-operador-elvis></app-operador-elvis>
</app-ng-content>-->
<app-ng-content>
        <div class="titulo">Título do content</div>
        <div class="corpo">Conteúdo de content</div>
    <app-operador-elvis></app-operador-elvis>
</app-ng-content>

<br>
<app-diretivas-customizadas></app-diretivas-customizadas>